<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/browse.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <title>Document</title>
</head>
<body>


  {{!-- <nav id="desktop-nav">
      <h1>Hello {{user.username}}!!</h1>
      <div>
          <ul class="nav-links">
              <li><a href="#about">About</a></li>
              <li><a href="#experience">Knwoledge</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="/auth/logout">Log Out</a></li>
          </ul>
      </div>
  </nav> --}}

  <div class="container">
    <div class="text">
      <p>¿Who are you? Choose your profile ;)</p></p>
    </div>
    <div class="users-container">
      <div class="user">
        <a href="/calendar"><img src="./assets/Shrek-dank.jpg" alt="Tranding"></a>
      </div>
      <div class="user">
        <a href="/calendar"><img src="./assets/ebay.jpg" alt="Tranding"></a>
      </div>
      <div class="user">
        <a href="/menu"><img src="./assets/Slider-food/tranding-food-1.png" alt="Tranding"></a>
      </div>
      <div class="user">
        <a href="/menu"><img src="./assets/Slider-food/tranding-food-1.png" alt="Tranding"></a>


      </div>


  </div>



</body>
</html>